<footer>
    <div class="bg-map-footer pt-4 ">
        <div class="container-fluid">
            <div class="row">
                <!-- web map -->
                <div class="col-md-4 mb-3">
                    <h5>แผนผังเว็บไซต์</h5>
                    <ul class="list-unstyled">
                        <li><a href="../pages/index.html">หน้าแรก</a></li>
                        <li><a href="#">เกี่ยวกับเรา</a></li>
                        <li><a href="#">ผลิตภัณฑ์ของเรา</a></li>
                        <li><a href="#">รายงานกับเรา</a></li>
                        <li><a href="../pages/contact.html">ติดต่อเรา</a></li>
                    </ul>
                </div>

                <!-- contact us -->
                <div class="col-md-4 mb-3">
                    <h5>ติดต่อเรา</h5>
                    <p>สำนักงานใหญ่</p>
                    <p>
                        95 หมู่ 3, สวนอุตสาหกรรมโรจนะ 2,<br>
                        ตำบล บ้านช้าง, อำเภอ อุทัย,<br>
                        จังหวัด พระนครศรีอยุธยา 13210 ประเทศไทย
                    </p>
                    <p>Tel: +66-35-746-655</p>
                    <p>Email: <a href="mailto:info@toyoseikan.co.th">info@toyoseikan.co.th</a></p>
                </div>

                <!-- map -->
                <div class="col-md-4 mb-3">
                    <div class="map-responsive">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15554.687!2d100.6737323!3d14.3230979!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311d8966aaaaaaab%3A0x84604855c1631415!2sToyo%20Seikan%20(Thailand)%20Co.,%20Ltd.!5e0!3m2!1sth!2sth!4v1700000000000!5m2!1sth!2sth"
                            width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-toyo text-white py-2">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <div class="small">
                สงวนลิขสิทธิ์ © 2021 Toyo Seikan (Thailand) Co., Ltd.
            </div>
            <div class="small">
                สงวนลิขสิทธิ์ © 2021 Toyo Seikan (Thailand) Co., Ltd.
            </div>
        </div>
    </div>
</footer>