<footer class="bg-toyo text-white py-2">
  <div class="container-fluid d-flex justify-content-between align-items-center">

    <!-- ซ้าย -->
    <div class="small">
      สงวนลิขสิทธิ์ © 2021 Toyo Seikan (Thailand) Co., Ltd.
    </div>

    <!-- ขวา -->
    <div class="small">
      สงวนลิขสิทธิ์ © 2021 Toyo Seikan (Thailand) Co., Ltd.
    </div>

  </div>
      <!-- Report -->
    <div class="container-fluid  d-flex justify-content-end">
        <button class="report-btn ">
            <i class="bi bi-exclamation-triangle-fill"></i>
            Report problem
        </button>
    </div>
</footer>