<header class="site-header">
    <!-- TOP BAR -->
    <div class="topbar">
        <div class="container-fluid topbar-inner">
            <div class="d-flex justify-content-between align-items-center w-100">
                <div class="brand">
                    <img class="pe-2 border-end" src="../assets/images/logo.png" alt="Toyo Seikan" />
                    <img src="../assets/images/logo2.png" alt="Toyo Seikan2" />
                </div>

                <a href="../pages/profile.html" class="profile d-flex align-items-center gap-2 text-decoration-none">
                    <img src="../assets/images/profile1.png" alt="user" class="avatar">

                    <div class="profile-info">
                        <span class="position">Position</span>
                        <span class="username">Username</span>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!-- MAIN NAV -->
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container-fluid">

            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-left">
                    <li class="nav-item">
                        <a class="navbar-brand" href="../pages/index.html">
                            <img src="../assets/icons/home.png" alt="home" class="navbar-icon">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../pages/course.html">หลักสูตร</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../pages/news.html">ข่าวประชาสัมพันธ์</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../pages/faq.html">คำถามที่พบบ่อย</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../pages/howto.html">วิธีการใช้งาน</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../pages/contact.html">ติดต่อเรา</a>
                    </li>
                </ul>
                <div class="search-box d-flex ms-auto"> <input type="text" placeholder="พิมพ์คำค้นหา"
                        class="form-control">
                    <button class="btn">
                        <img src="../assets/icons/search.png" alt="search">
                    </button>
                </div>
            </div>


        </div>
    </nav>
</header>