.card {
    border-radius: 12px;
}

.contact-img {
    height: 100%;
    object-fit: cover;
}


.gradient-text {
    background: linear-gradient(180deg, #0EB5D9 0%, #0897C3 50%, #0C90C9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-icon {
    background: linear-gradient(180deg, #0EB5D9 0%, #0897C3 50%, #0C90C9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
}

.social-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.25s ease;
}

/* สีพื้นหลัง */
.social-circle.x {
    background: #000;
}

.social-circle.youtube {
    background: #FF0000;
}

.social-circle.facebook {
    background: #1877F2;
}

/* ขนาดรูป */
.social-circle img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

/* Hover
.social-circle:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 14px rgba(0,0,0,0.15);
} */

.btn-dowload {
    width: 200px;
    
}