@import url(courseCard.css);
@import url(newsCard.css);

@font-face {
  font-family: 'Supermarket';
  src: url('../assets/fonts/supermarket.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


html, body {
  height: 100%; /* ต้องกำหนดทั้ง html + body */
  margin: 0;
  font-family: 'Supermarket', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* ให้เนื้อหาขยายเต็มที่ ส่วน footer จะถูกดันลงด้านล่าง */
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 60px;
  
}


.btn-primary {
  background-color: #1F7BCC;
  color: #fff;
  border: none;
}


:root {
    --bs-primary: #005CAB;          /* สีหลัก */
    --bs-primary-rgb: 0, 92, 171;  /* ต้องมีด้วย */
    --bs-btn-color: #fff;
    --bs-btn-bg:#005CAB ;
    --bs-btn-border-color: #005CAB;
}

.text-truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

